body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}

ul {
  list-style: none;
}

.container {
  width: 1185px;
  margin: 0 auto;
}

@media (min-width: 704px) and (max-width: 1199px) {
  .container {
    max-width: 704px;
  }
  .hero-wrapper, .hero-episodes-wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .hero-text {
    order: 3;
  }
  .logo-wrapper {
    order: 2;
  }
  .tags {
    max-width: 704px;
    overflow: hidden;
  }
  .whole-char-wrapper {
    flex-wrap: wrap;
  }
  .background-char {
    padding: 33px 154px 33px 154px !important;
  }
  .main-images-title {
    font-size: 44px;
    font-weight: 600;
  }
  .hero-btn {
    margin-bottom: 40px;
  }
  .footer-logo-piece-1 {
    position: relative;
    top: 109px !important;
  }
  .footer-logo-piece-2 {
    position: relative;
    left: 20px !important;
  }
}
@media (min-width: 335px) and (max-width: 704px) {
  .hero-wrapper, .hero-episodes-wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .container {
    max-width: 335px;
  }
  .hero-text {
    order: 3;
  }
  .logo-wrapper {
    order: 2;
  }
  .tags {
    max-width: 335px;
    overflow: hidden;
  }
  .hero-title {
    font-size: 40px !important;
  }
  .hero-btn {
    margin-bottom: 40px;
  }
  .inputs-wrapper {
    flex-direction: column;
  }
  .main-input-name {
    width: 335px !important;
  }
  .main-input-season {
    width: 335px !important;
  }
  .whole-char-wrapper {
    flex-wrap: wrap;
  }
  .main-title {
    font-size: 28px !important;
    font-weight: 600;
    line-height: 32px;
  }
  .background-char {
    padding: 16px 10px 16px 10px !important;
  }
  .main-images-title {
    color: rgb(250, 250, 250);
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
  }
  .header-search {
    width: 43px;
  }
  .header-link {
    width: 96px;
    height: 36px;
  }
  .footer-wrapper {
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .main-pictures {
    width: 365px;
    height: 579px;
  }
}
.header-my-home {
  display: flex;
  align-items: center;
  background-color: rgb(13, 23, 29);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.search-wrapper {
  display: flex;
  padding: 12px 24px 12px 24px;
  border: 1px solid rgba(250, 250, 250, 0.3);
  border-radius: 1000px;
}

.header-search {
  color: white;
  background-color: rgb(13, 23, 29);
  border: none;
}

.search-ico {
  width: 18px;
  height: 18px;
}

.header-list {
  list-style: none;
  display: flex;
  padding-left: 0px !important;
}

.accent {
  background: rgb(161, 215, 55);
}

.not-accent {
  color: white !important;
  border: 1px solid rgba(250, 250, 250, 0.3);
}

.header-link {
  border-radius: 1000px;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
  color: rgb(13, 23, 29);
  font-family: Montserrat;
  font-style: SemiBold;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.hero-episodes {
  padding-top: 100px !important;
  padding-bottom: 126px !important;
}

.hero-btn {
  border: 1px solid rgba(250, 250, 250, 0.3);
  border-radius: 1000px;
  color: rgb(250, 250, 250);
  background-color: rgba(240, 248, 255, 0);
  padding: 12px 24px 12px 24px;
  margin-top: 32px;
}

.imgs-hero-ep {
  border-radius: 100px;
  background: rgb(161, 215, 55);
  overflow: hidden;
  filter: drop-shadow(6px 6px 20px rgb(161, 215, 55));
}

.hero-title {
  color: rgb(250, 250, 250);
  margin-bottom: 16px;
  font-style: SemiBold;
  font-size: 100px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 0px;
}

.hero-episodes-wrapper {
  justify-content: space-between;
}

.main-input-name {
  color: rgb(13, 23, 29);
  box-sizing: border-box;
  border: 1.5px solid rgb(17, 17, 17);
  border-radius: 100px;
  background: rgb(218, 248, 54);
  padding: 16px 24px 16px 24px;
}

.inputs-wrapper {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 95px;
}

.main-input-season {
  box-sizing: border-box;
  padding: 16px 24px 16px 24px;
  border: 1.5px solid rgb(17, 17, 17);
  border-radius: 100px;
}

.load-more-btn {
  padding: 12px 24px 12px 24px;
  border-radius: 1000px;
  background: rgb(161, 215, 55);
  color: rgb(13, 23, 29);
  border: none;
  display: flex;
  justify-content: center !important;
  margin: 0 auto;
  margin-bottom: 128px;
  margin-top: 64px;
}

.episodes-list {
  display: flex;
  list-style: none;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-episodes {
  width: 284px;
  height: 200px;
  border: 1px #A1D737;
  border-radius: 10px;
  background-image: url("../../kirillimg/epiback.png");
  background-repeat: no-repeat;
}

.card-epi-title {
  color: rgb(161, 215, 55);
  font-family: Montserrat;
  font-style: SemiBold;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
}

.card-epi-wrapper {
  display: flex;
  gap: 10px;
}

.hero, .hero-episodes {
  background-color: rgb(13, 23, 29);
  padding-top: 54px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.main-span {
  color: white;
  background-color: rgb(13, 23, 29);
  border-radius: 100px;
  padding: 4px 17px 4px 17px;
}

.main-images-list {
  padding-inline-start: 0px !important;
  display: flex;
  gap: 24px;
  list-style: none;
}

.main-images-btn {
  display: flex;
  border-radius: 1000px;
  color: rgb(13, 23, 29);
  text-decoration: none;
  font-style: SemiBold;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  border: none;
  padding: 12px 24px 12px 24px;
  background: rgb(161, 215, 55);
  justify-content: flex-end;
  align-items: flex-end;
}

.images-explore {
  background-color: #A1D737;
  border-radius: 100px;
  padding: 4px 17px 4px 17px;
}

.background-char {
  background-color: #A1D737;
  font-size: 44px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0%;
  border-radius: 100px;
  padding: 33px 69px 33px 69px;
}

.background-correcter {
  background-color: rgb(13, 23, 29);
}

.main-char-home-sect {
  margin-top: 145px;
  margin-bottom: 128px;
}

.main-images-title {
  color: rgb(250, 250, 250);
}

.slider-sect {
  background-color: rgb(13, 23, 29);
  padding-top: 100px;
  padding-bottom: 170px;
  border-radius: 50px;
  overflow: hidden;
}

.main-characters-hr {
  border: 1px solid rgba(17, 17, 17, 0.2);
}

.main-characters-list {
  list-style: none;
}

.whole-char-wrapper {
  display: flex;
}

.hero-text {
  color: white;
  font-family: "Montserrat";
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.main-list {
  padding-inline-start: 0px;
  list-style: none;
}

.main-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title {
  font-style: SemiBold;
  font-size: 44px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 72px;
}

.hero-wrapper, .hero-episodes-wrapper {
  display: flex;
  align-items: center;
}

.down-ico {
  width: 40px;
  height: 40px;
}

.down-btn {
  background-color: rgba(250, 128, 114, 0);
  border-radius: 100px;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 1px solid rgba(250, 250, 250, 0.5);
}

.social-ico {
  width: 12px;
  height: 24px;
}

.social-ico2 {
  width: 28px;
  height: 28px;
}

.social-ico3 {
  width: 26.13px;
  height: 26.13px;
}

.footer-nav-link {
  color: rgb(13, 23, 29);
  text-decoration: none;
}

.footer-nav-list {
  list-style: none;
}

.footer-contacts-list {
  display: flex;
  list-style: none;
  gap: 32px;
}

.footer-nav-item {
  margin-bottom: 16px;
}

.footer-contacts-item {
  box-sizing: border-box;
  border: 1px solid rgb(17, 17, 17);
  border-radius: 12px;
  padding: 16px 16px 16px 16px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-logo-piece-1 {
  position: relative !important;
  left: 30px !important;
}

.footer-logo-piece-2 {
  position: relative !important;
  right: 100px !important;
  top: 50px !important;
}

.privacy {
  margin-top: 128px !important;
  color: rgba(17, 17, 17, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}/*# sourceMappingURL=main.css.map */