@import "./utils/variables";
@import "./components/body";
@import "./components/container";
@import "./components/section";
@import "./components/page-header-home";
@import "./components/page-header-episodes";
@import "./components/page-header-characters";
@import "./components/main-characters-one";
@import "./components/main-episodes";
@import "./components/main-characters";
@import "./components/main-one";
@import "./components/main-home";
@import "./components/slider";
@import "./components/footer-home";
@import "./components/footer-characters";
@import "./components/footer-episodes";