.social-ico {
    width: 56px;
    height: 56px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    &:hover {
        transform: scale(1.1);
    }
}

.social-ico2 {
    width: 56px;
    height: 56px;

    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    &:hover {
        transform: scale(1.1); 
    }
}

.social-ico3 {
    width: 56px;
    height: 56px;

    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    &:hover {
        transform: scale(1.1);
    }
}

.footer-nav-link-e {
    color: $white;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        color: $backgroundColorCharHover;
    }
}

.footer-nav-link {
    color: $backgroundColor;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        color: $backgroundColorCharHover;
    }
}

.footer-nav-list {
    list-style: none;
}

.footer-contacts-list {

    display: flex;
    list-style: none;
    gap: 32px;
}

.footer-nav-item {
    margin-bottom: 16px;
}

.footer-h {
    margin-top: 90px;
}

.footer-e {
    background-color: $footerBlack;
    padding-top: 90px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.privacy {
    margin-top: 128px !important;
    color: #1111119b;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}