.social-ico {
    width: 12px;
    height: 24px;
}

.social-ico2 {
    width: 28px;
    height: 28px;
}

.social-ico3 {
    width: 26.13px;
    height: 26.13px;
}

.footer-nav-link {
    color: $backgroundColor;
    text-decoration: none;
}

.footer-nav-list {
    list-style: none;
}

.footer-contacts-list {
    display: flex;
    list-style: none;
    gap:32px;
}

.footer-nav-item{
    margin-bottom: 16px;
}

.footer-contacts-item{
box-sizing: border-box;
border: 1px solid rgba(17, 17, 17, 1);
border-radius: 12px;
padding: 16px 16px 16px 16px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-logo-piece-1{
       position: relative!important;
    left: 30px!important;
}

.footer-logo-piece-2{
    position: relative!important;
    right: 100px!important;
    top: 50px!important;
}

.privacy{
    margin-top: 128px!important;
    color: rgba(17, 17, 17, 0.4);
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
}