.hero {
    background-color: $backgroundColor;
    padding-top: 54px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.main-span {
    color: white;
    background-color: $backgroundColor;
    border-radius: 100px;
    padding: 4px 17px 4px 17px;
}

.main-images-list {
    padding-inline-start: 0px !important;
    display: flex;
    gap: 24px;
    list-style: none;
}

.main-images-btn {
    display: flex;
    border-radius: 1000px;
    color: $backgroundColor;
    text-decoration: none;
    font-style: SemiBold;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    border: none;
    padding: 12px 24px 12px 24px;
    background: rgba(161, 215, 55, 1);
    align-items: flex-end;
    justify-content: end !important;
    justify-self: end;
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: rgba(156, 201, 66, 0.836);
    }
}

.images-explore {
    background-color: $backgroundColorChar;
    border-radius: 100px;
    padding: 4px 17px 4px 17px;
  text-shadow: rgb(0, 0, 0) 1px 0 5px;
}

.background-char {
    background-color: $backgroundColorChar;
    font-size: 44px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0%;
    border-radius: 100px;

    padding: 33px 69px 33px 69px;
}

.background-correcter {
    background-color: $backgroundColor;
}

.main-char-home-sect {
    margin-top: 145px;
    margin-bottom: 128px;
}

.main-characters-title {
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        color: rgba(156, 201, 66, 0.836);
    }
}

.main-images-title {
    color: $white;
    font-size: 44px;
    font-weight: 600;
}

.slider-sect {
    background-color: $backgroundColor;
    padding-top: 100px;
    padding-bottom: 170px;
    border-radius: 50px;
    overflow: hidden;
}

.main-characters-hr {
    border: 1px solid rgba(17, 17, 17, 0.2);
}

.main-characters-list {
    list-style: none;
}

.whole-char-wrapper {
    display: flex;
}

.hero-text {
    color: white;
    font-family: "Montserrat";
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    align-items: center;
}

.main-list {
    padding-inline-start: 0px;
    list-style: none;
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-style: SemiBold;
    font-size: 44px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 72px;
}

.hero-wrapper {
    display: flex;
    align-items: center;
}

.down-ico {
    width: 40px;
    height: 40px;
}

.down-btn {
    background-color: $backgroundColor;
    border-radius: 100px;
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: end !important;
    justify-self: end;
    border: 1px solid rgba(250, 250, 250, 0.5);
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: rgba(240, 248, 255, 0.156);
    }
}

.btn-wrapper {
    padding-bottom: 64px;
}

.tags-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    bottom: 60px;
}

.tags-ico {
    width: 1408px;
    height: 173px;
}

.tags {
    overflow: hidden;
}

.hero-decor{
    position: relative;
    left:650px;
    top: 50px;
}