.hero-episodes {
    @extend .hero;
    padding-top: 100px !important;
    padding-bottom: 126px !important;
}

.hero-btn {
    border: 1px solid rgba(250, 250, 250, 0.3);
    border-radius: 1000px;
    color: $white;
    background-color: rgba(240, 248, 255, 0);
    padding: 12px 24px 12px 24px;
    margin-top: 32px;
transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover{
        background-color: rgba(240, 248, 255, 0.156);
    }
}

.imgs-hero-ep {
    border-radius: 100px;
    background: rgba(161, 215, 55, 1);
    overflow: hidden;
    filter: drop-shadow(6px 6px 20px rgba(161, 215, 55, 1));
}

.hero {
    background: linear-gradient(180.00deg, rgba(20, 24, 44, 1) 36%, rgba(52, 56, 127, 0) 100%);
}

.hero-title {
    color: rgba(250, 250, 250, 1);
    margin-bottom: 16px;
    font-style: SemiBold;
    font-size: 100px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: 0px;
}

.hero-episodes-wrapper {
    @extend .hero-wrapper;
    justify-content: space-between;
}

.main-input-name {
    color: $backgroundColor;
    box-sizing: border-box;
    border: 1.5px solid rgba(17, 17, 17, 1);
    border-radius: 100px;
    background: rgba(218, 248, 54, 1);
    padding: 16px 24px 16px 24px;
}

.inputs-wrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 95px;
}

.main-input-season {
    box-sizing: border-box;
    padding: 16px 24px 16px 24px;
    border: 1.5px solid rgba(17, 17, 17, 1);
    border-radius: 100px;
}

.load-more-btn {
    padding: 12px 24px 12px 24px;
    border-radius: 1000px;
    background: rgba(161, 215, 55, 1);
    color: $backgroundColor;
    border: none;
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
    margin-bottom: 128px;
    margin-top: 64px;
}

.episodes-list {
    display: flex;
    list-style: none;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-episodes {
    width: 284px;
    height: 200px;
    border: 2px solid rgba(161, 215, 55, 1);
    border-radius: 18px;
    background-color: #0D171D;
    background-image: url("../../kirillimg/episodesimgs/epiback1.png");
    background-repeat: no-repeat;
    // padding: 20px 20px 20px 20px;
}

.card-epi-title {
    color: rgba(161, 215, 55, 1);
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    margin-bottom: 90px;
}

.card-epi-wrapper {
    display: flex;
    gap: 10px;
}

.card-epi-p {
    color: white;
}

.modal-episodes {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  top: 50%;
  left: 50%;
     width: 673px;
height: auto;
    border-radius: 18px;
    background: rgba(13, 23, 29, 1);
    padding: 32px 32px 32px 32px;
    border-radius: 18px;
    background: rgba(13, 23, 29, 1);
    
}

.modal-wrapper{
    display: flex;
    gap: 20px;
}

.backdrop {
    display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.073);
  backdrop-filter: blur(10px);
  opacity: 1;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    backdrop-filter 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

// .backdrop.is-hidden {
//   opacity: 0;
//   pointer-events: none;
// }

.modal-episodes-title {
    color: rgba(250, 250, 250, 1);
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;

}

.modal-episodes-id {
   color: rgba(250, 250, 250, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}

.modal-episodes-airdate {
   color: rgba(250, 250, 250, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}

.modal-episodes-char-p {
    color: rgba(250, 250, 250, 0.5);
    font-family: Montserrat;
    font-style: Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
}

.modal-episodes-p {
    color: rgba(250, 250, 250, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    margin-left: 14px;
    text-align: left;
}

.modal-episodes-item {
    min-width: 114px;
    display: flex;
}


.modal-episodes-list {
    display: flex;
    flex-wrap: wrap;
gap: 32px;
height: 64px;
overflow-y: auto;
padding-left: 0!important;
    list-style: none;
}
.modal-wrapper2{
border: 2px solid rgba(161, 215, 55, 1);
border-radius: 18px;
    padding: 32px 32px 32px 32px;
}

.close-ico{
    width: 22px;
    height: 22px;
}

.close-modal{
    border: none;
    background: none;
    display: flex;
          justify-content: end!important;
        justify-self: end;
}