.header-episodes-logo {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s, filter cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    &:hover {
        transform: scale(1.1);
        filter: drop-shadow(6px 6px 20px $backgroundColorChar);
    }
}

.hero-episodes {
    @extend .hero;
    padding-top: 100px !important;
    padding-bottom: 126px !important;
}

.hero-btn {
    border: 1px solid #fafafa4d;
    border-radius: 1000px;
    color: $white;
    background-color: #f0f8ff00;
    padding: 12px 24px 12px 24px;
    margin-top: 32px;
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: #f0f8ff28;
    }
}

.imgs-hero-ep {
    border-radius: 100px;
    background: $backgroundColorChar;
    overflow: hidden;
    filter: drop-shadow(6px 6px 20px $backgroundColorChar);
    transition: filter cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

    &:hover {
        filter: drop-shadow(6px 6px 30px $backgroundColorChar);
    }
}

.hero {
    background: linear-gradient(180.00deg, rgba(20, 24, 44, 1) 36%, rgba(52, 56, 127, 0) 100%);
}

.hero-title {
    color: $white;
    margin-bottom: 16px;
    font-style: SemiBold;
    font-size: 100px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: 0px;
}

.hero-episodes-wrapper {
    @extend .hero-wrapper;
    justify-content: space-between;
}

.main-input-name {
    color: $backgroundColor;
    box-sizing: border-box;
    border: 1.5px solid rgba(17, 17, 17, 1);
    border-radius: 100px;
    background-color: #daf836;
    padding: 16px 24px 16px 24px;
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: #c5df3095;
    }
}

.inputs-wrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 95px;
}

.main-input-season {
    box-sizing: border-box;
    padding: 16px 24px 16px 24px;
    border: 1.5px solid rgba(17, 17, 17, 1);
    border-radius: 100px;

    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: #00000031;
    }
}

.load-more-btn {
    padding: 12px 24px 12px 24px;
    border-radius: 1000px;
    background: $backgroundColorChar;
    color: $backgroundColor;
    border: none;
    display: flex;
    justify-content: center !important;
    margin: 0 auto;
    margin-bottom: 128px;
    margin-top: 64px;
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: $backgroundColorCharHover;
    }
}

.episodes-list {
    display: flex;
    list-style: none;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-episodes {
    width: 284px;
    height: 200px;
    border: 2px solid $backgroundColorChar;
    border-radius: 18px;
    background-color: #0D171D;
    background-image: url("../../kirillimg/episodesimgs/epiback1.png");
    background-repeat: no-repeat;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s, background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: #000000;
        transform: scale(1.1);
    }
}

.card-epi-title {
    color: $backgroundColorChar;
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    margin-bottom: 90px;
}

.card-epi-wrapper {
    display: flex;
    gap: 10px;
}

.si2 {    //search ico styles!!!!
    position: relative;
    right: 40px;
    top: 5px;
    fill: none;
    stroke: currentColor;
}

.card-epi-p {
    color: $white;
}

.modal-episodes {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    top: 50%;
    left: 50%;
    width: 673px;
    height: auto;
    border-radius: 18px;
    padding: 32px 32px 32px 32px;
    border-radius: 18px;
    background: $backgroundColor;

}

.modal-wrapper {
    display: flex;
    gap: 20px;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000013;
    backdrop-filter: blur(10px);
    opacity: 1;
    transition:
        opacity cubic-bezier(0.4, 0, 0.2, 1) 1s,
        backdrop-filter cubic-bezier(0.4, 0, 0.2, 1) 1s,
        background-color cubic-bezier(0.4, 0, 0.2, 1) 1s,
        visibility cubic-bezier(0.4, 0, 0.2, 1) 1s;
}

.modal-episodes-title {
    color: $white;
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;

}

.modal-episodes-id {
    color: $white;
    font-family: Montserrat;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.modal-episodes-airdate {
    color: $white;
    font-family: Montserrat;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.modal-episodes-char-p {
    color: #fafafa80;
    font-family: Montserrat;
    font-style: Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
}

.modal-episodes-p {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    margin-left: 14px;
    text-align: left;
}

.modal-episodes-item {
    min-width: 114px;
    display: flex;
}


.modal-episodes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    height: 64px;
    overflow-y: auto;
    padding-left: 0 !important;
    list-style: none;
}

.modal-wrapper2 {
    border: 2px solid $backgroundColorChar;
    border-radius: 18px;
    padding: 32px 32px 32px 32px;
}

.close-ico {
    width: 22px;
    height: 22px;
}

.close-modal {
    border: none;
    background: none;
    display: flex;
    justify-content: end !important;
    justify-self: end;
}

.modal-img {
    border-radius: 8px;
}