.header-my-home {
    display: flex;
    align-items: center;
    background-color: $backgroundColor;
    padding-top: 24px;
//     background: linear-gradient(180.00deg, rgba(20, 24, 44, 1) 36%,rgba(52, 56, 127, 0) 100%);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.search-wrapper {
    height: 23px;
    display: flex;
    padding: 12px 24px 12px 24px;
    border: 1px solid rgba(250, 250, 250, 0.3);
    border-radius: 1000px;
    
}

.header-search {
    color: white!important;
    background-color: $backgroundColor;
    border: none;
    width: 45px;
}

.search-ico {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.position-corrector{
    position: relative;
    top: 2px;
}

.header-list {
    list-style: none;
    display: flex;
    padding-left: 0px !important;
}

.accent {
    background: rgba(161, 215, 55, 1);
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover{
        background-color: rgba(156, 201, 66, 0.836);
    }
}

.not-accent {
    color: white !important;
    border: 1px solid rgba(250, 250, 250, 0.3);
        transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover{
        background-color: rgba(240, 248, 255, 0.156);
    }
}

.header-link {
    border-radius: 1000px;

    padding: 12px 24px 12px 24px;
    text-decoration: none;
    color: rgba(13, 23, 29, 1);
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}