.header-my-home {
    display: flex;
    align-items: center;
    background-color: $backgroundColor;
    padding-top: 24px;
    background: #14182c
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-wrapper {
    height: 23px;
    display: flex;
    padding: 10px 22px 10px 22px;
    border: 1px solid #fafafa4d;
    border-radius: 1000px;

}

.header-search {
    color: white !important;
    background-color: #14182c;
    border: none;
    width: 45px;
}

.search-ico {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.position-corrector {
    position: relative;
    top: 2px;
}

.header-list {
    list-style: none;
    display: flex;
    padding-left: 0px !important;
}

.accent {
    background: $backgroundColorChar;
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: $backgroundColorCharHover;
    }
}

.not-accent {
    color: white !important;
    border: 1px solid #fafafa4d;
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        background-color: #f0f8ff28;
    }
}

.header-link {
    border-radius: 1000px;
    padding: 12px 24px 12px 24px;
    text-decoration: none;
    color: $backgroundColor;
    font-family: Montserrat;
    font-style: SemiBold;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.no-resess-text {
    text-align: center;
}

.top-btn {
    background-color: $backgroundColor;
    border-radius: 100px;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 80%;
    left: 90%;

    border: 1px solid rgba(250, 250, 250, 0.5);
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #00000073;

    &:hover {
        background-color: #00000028;
    }
}

.top-ico {
    transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: rotate(180deg);
    width: 40px;
    height: 40px;
}