header{
    display: flex;
    align-items: center;
    background-color: $backgroundColor;
}
.header-wrapper{
display: flex;
justify-content: space-between;
}
.search-wrapper{
    display: flex;
padding: 12px 24px 12px 24px;
border: 1px solid rgba(250, 250, 250, 0.3);
border-radius: 1000px;
}

.header-search{
    color: white;
    background-color: $backgroundColor;
    border: none;
}

.search-ico{
    width: 18px;
    height: 18px;
}

.header-list{
    list-style: none;
    display: flex;
}

.header-item{

}

.accent{
background: rgba(161, 215, 55, 1);
}

.not-accent{
    
    border: 1px solid rgba(250, 250, 250, 0.3);
}

.header-link{
    border-radius: 1000px;
    color: white;
padding: 12px 24px 12px 24px;
text-decoration: none;
color: rgba(13, 23, 29, 1);
font-family: Montserrat;
font-style: SemiBold;
font-size: 14px;
font-weight: 600;
line-height: 18px;
}