// .filter select {
//   width: 140px;
//   padding: 10px 15px;
//   border-radius: 10px;
//   border: 2px solid #e0e0e0;
//   font-size: 16px;
//   appearance: none;
//   cursor: pointer;
// }
// p{
//     color: white;
// }