ul {
    list-style: none;
}

.container {
    width: 1185px;
    margin: 0 auto;
}

.cont-bacground-head {
    background-color: #0D171D;
    display: flex;
    align-items: center;
}

.div-head-img-search {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.img-div-hea {
    width: 193px;
    height: 73px;
}
.img-head-serch{
  width: 124px;
  height: 42px;
}
.img-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
}