* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.container {
    max-width: 1185px;
    width: 100%;
    margin: 0 auto;
}

.container-footer {
    width: 100%;
    margin: 0 auto;
    background-color: #0D171D;
    margin-top: 100px;
}

.cont-bacground-head {
    background-color: #0D171D;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.div-head-img-search {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    flex-wrap: wrap;
}

.img-div-hea {
    max-width: 193px;
    height: auto;
}

.img-zindex {
    z-index: 2;
    position: relative;
    top: 5px;
    left: 100px;

}

.search-header {
    width: 124px;
    height: 42px;
    border-radius: 30px;
    background-color: unset;
    outline: 1px solid white;
    padding: 12px;
}

.section-hea {
    z-index: 1;
}

.img-scroll {
    width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
    bottom: 50px;
    min-width: 1000px;
}

.p-mar-head {
    margin-bottom: 30px;
    margin-top: -40px;
}

.img-sec-div-header {
    max-width: 504px;
    height: auto;
}

.col-wh-head {
    color: white;
}

.disp-big-img-head {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 250px;
    margin-top: 40px;
}

.h1-rvevdsf {
    font-size: 100px;
    word-break: break-word;
}

.ul-header {
    position: relative;
    top: 190px;
}

.butt-head-style {
    background-color: unset;
    border: none;
    outline: 1px solid white;
    padding: 12px 24px;
    border-radius: 20px;
}

/* Media */
@media (max-width:1070px) {
    .disp-big-img-head {
        margin-top: 500px;
        margin-right: 80px;

    }

    .img-head-serch {
        margin-right: 80px;
    }

    .img-div-hea {
        margin-left: 80px;
    }

    .ul-header {
        margin-left: 80px;
    }
}

.big-sec-main {
    margin-top: 100px;
}

.span-on-inp {
    position: relative;
    bottom: 40px;
    left: 50px;
}

.enter-name-search {
    width: 230px;
    height: 50px;
    border-radius: 30px;
    background-color: #DAF836;
    border: none;
    outline: black solid 2px;
}

.select-main-sec {
    width: 170px;
    height: 50px;
    background-color: white;
    border-radius: 30px;


}

.padding-text-sec-main-big-select {
    padding-left: 15px;
    cursor: pointer;
}

option {
    color: gray;
}

option:hover {
    color: black;
}

select option {
    background-color: white;
    color: black;
}

.filter {
    display: flex;
}

.foot-text {
    color: gray;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
}

.two-span-foot {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 13px;
}
.three-img-foot{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 50px;
    column-gap: 20px
}
.img-footer-character{
    width: 55px;
    height: 55px;
}
.foot-rick-morty1{
    position: relative;
    z-index: 1;
    top: 50px;
}
.foot-rick-morty{
z-index: 2;
position: relative;
top: 100px;
right: 120px;
}
.more-characters{
    width: 125px;
    height: 50px;
    border-radius: 30px;
    background-color: #DAF836;
    color: black;
    border: none;
    outline: 2px solid;
    font-size: 15px;
    
}
.more-characters-dis{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}