* {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-sec {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1185px;
    width: 100%;
    margin: 0 auto;
}

.container-footer {
    width: 100%;
    margin: 0 auto;
    background-color: #0D171D;
    margin-top: 100px;
}

.cont-bacground-head {
    background-color: #0D171D;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.div-head-img-search {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    flex-wrap: wrap;
}

.img-div-hea {
    max-width: 193px;
    height: auto;
}

/* .img-zindex {
    z-index: 2;
    position: relative;
    top: 5px;
    left: 100px;

} */

.search-box {
    position: relative;
    width: 320px;
    left: 150px;
}

.search-input {
    width: 150px;
    height: 50px;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    color: white;
    padding-left: 60px;
    /* місце для лупи */
    font-size: 17px;
    outline: none;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-btn {
    position: absolute;
    left: 20px;
    top: 25px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.search-btn img {
    width: 20px;
    height: 20px;
}

/* bxdbqegehw45h36j357j64h5g345657i8ok7jh6t */
/* .filters {
    display: flex;
    gap: 1px;
    align-items: flex-end;
} */


/* === FILTER WRAPPER === */
/* Контейнер всіх фільтрів */
.filter {
    display: flex;
    gap: 16px;
    align-items: flex-end;
    flex-wrap: wrap;
}


.filter-main-sec {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.filter-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 120px;
    flex: 1 1 auto;

}

.filter-item label {
    font-size: 13px;
    color: #0e0707;
    line-height: 1;
}

.dropdown {
    position: relative;
    width: 100%;
    column-gap: 50px;

}


.dropdown-head {
    padding: 10px 14px;
    border-radius: 30px;

    background-color: #fff;
    border: 1px solid #1a0d0d;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
}

.dropdown-list {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    right: 0;

    background-color: #fff;
    border-radius: 12px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;

    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6px);
    transition: 0.2s ease;
}

.dropdown.open .dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* option */
.dropdown-list .option {
    padding: 10px 14px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-list .option:hover {
    background-color: #f2f2f2;
}


/* .search-header {
    width: 124px;
    height: 42px;
    border-radius: 30px;
    background-color: unset;
    outline: 1px solid white;
    padding: 12px;
} */

.section-hea {
    z-index: 1;
}

.img-scroll {
    width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
    bottom: 50px;
    min-width: 1000px;
}

.p-mar-head {
    margin-bottom: 30px;
    margin-top: -40px;
}

.img-sec-div-header {
    max-width: 504px;
    height: auto;
}

.col-wh-head {
    color: white;
}

.disp-big-img-head {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 250px;
    margin-top: 40px;
}



.h1-head-big {
    word-break: break-word;
    font-size: 90px;
}

@media (max-width:740px) {
    .h1-head-big {
        font-size: 70px;
    }
}



.ul-header {
    position: relative;
    top: 190px;
}

.butt-head-style {
    background-color: unset;
    border: none;
    outline: 1px solid white;
    padding: 12px 24px;
    border-radius: 20px;
}

/* Media */
@media (max-width:1070px) {
    .disp-big-img-head {
        margin-top: 500px;
        margin-right: 80px;

    }

    .img-head-serch {
        margin-right: 80px;
    }

    .img-div-hea {
        margin-left: 80px;
    }

    .ul-header {
        margin-left: 80px;
    }
}

@media (max-width:700px) {
    .col-wh-head {
        font-size: 13px;
    }
}
.big-sec-main {
    margin-top: 100px;
}
.not-found{
    width: ;
}
.span-on-inp {
    position: relative;
    bottom: 40px;
    left: 50px;
}

.enter-name-search {
    width: 230px;
    height: 50px;
    border-radius: 30px;
    background-color: #DAF836;
    border: none;
    outline: black solid 2px;
}

.select-main-sec {
    width: 170px;
    height: 50px;
    background-color: white;
    border-radius: 30px;


}

.padding-text-sec-main-big-select {
    padding-left: 15px;
    cursor: pointer;
}

option {
    color: gray;
}

option:hover {
    color: black;
}

select option {
    background-color: white;
    color: black;
}

.filter {
    display: flex;
}

.foot-text {
    color: gray;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
}

.two-span-foot {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 13px;
}

.three-img-foot {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 50px;
    column-gap: 20px
}

.img-footer-character {
    width: 55px;
    height: 55px;
}

.foot-rick-morty1 {
    position: relative;
    z-index: 1;
    top: 50px;
}

.foot-rick-morty {
    z-index: 2;
    position: relative;
    top: 100px;
    right: 120px;
}

.more-characters {
    width: 125px;
    height: 50px;
    border-radius: 30px;
    background-color: #DAF836;
    color: black;
    border: none;
    outline: 2px solid;
    font-size: 15px;

}

.more-characters-dis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.div-card-character {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 100px;
}

.img-characters-sec-main {
    width: 240px;
    height: 300px;
    border-radius: 15px;
}

.card.highlight {
    outline: 4px solid #00ffc8;
    box-shadow: 0 0 25px #00ffc8;
    transition: 0.3s;
}